#header{
    height: 50px;
    width: 100%;
    text-align: center;
    background-color: blue;
    
}
#sidebar-left{
    background-color: pink;
    float: left;
    width: 15%;
}
#main{
    float: left;
    width: 70%;
    background-color: aqua;
}
#sidebar-right{
    float: left;
    width: 15%;
    background-color: purple;
}
#footer{
    height: 50px;
    text-align: center;
    background-color: blue;
    width: 100%;
    clear: both;
}
#sidebar-left,#main , #sidebar-right{
    min-height: 600px;
}